body {
    min-height: 100vh;
    min-height: -webkit-fill-available;
}
html {
    height: -webkit-fill-available;
}
main {
    height: 100vh;
    max-height: 100vh;
    overflow-x: auto;
    overflow-y: hidden;
}

@media (max-width: 576px) {
    body,
    input,
    .btn {
        font-size: small !important;
    }
}

/*  Scrolls */
.scroll::-webkit-scrollbar {
    width: 8px;
}

.scroll::-webkit-scrollbar-thumb {
    background: rgba(102, 107, 122, 1);
}

.scroll::-webkit-scrollbar-thumb:active,
.scroll::-webkit-scrollbar-thumb:hover {
    background: rgba(102, 107, 122, 1);
}

.scroll::-webkit-scrollbar-track {
    background: rgba(29, 30, 34, 1);
}

.scroll::-webkit-scrollbar-track:hover,
.scroll::-webkit-scrollbar-track:active {
    background: rgba(29, 30, 34, 1);
}

/* Bootstrap */
.form-floating > textarea.form-control:not(:placeholder-shown) {
    padding-top: 0.35rem !important;
}
.form-floating > .form-control,
.form-floating > .form-control-plaintext {
    padding: 0 0.75rem;
    height: calc(1.85rem + 2px);
}

.form-floating > label {
    padding: 0.15rem 0.75rem;
    font-size: 0.9em;
}

.form-floating > .form-control:focus ~ label,
.form-floating > .form-control:not(:placeholder-shown) ~ label,
.form-floating > .form-control-plaintext ~ label,
.form-floating > .form-select ~ label {
    opacity: 1;
    transform: scale(0.85) translateY(-1rem) translateX(0.5rem);
    background: linear-gradient(to bottom, transparent, white, transparent);
    width: auto;
    z-index: 100;
    color: var(--bs-blue);
    padding: 0 0.25rem;
    height: auto;
}

.form-floating > .form-control:focus,
.form-floating > .form-control:not(:placeholder-shown),
.form-floating > .form-control-plaintext:focus,
.form-floating > .form-control-plaintext:not(:placeholder-shown) {
    padding: 0 0.75rem !important;
}
.form-floating > .form-control:focus ~ label,
.form-floating > .form-control:not(:placeholder-shown) ~ label,
.form-floating > .form-control-plaintext ~ label,
.form-floating > .form-select ~ label {
    max-width: 100%;
}
select {
    padding: 0.2rem 0.75rem !important;
}

.page-container {
    padding: 0.75rem;
    margin-top: 0.5rem;
    border: solid 1px #dddddd;
    border-radius: 0.25rem;
}
/* Diseño de las filas */
td img {
    max-width: 2rem;
    border-radius: 50%;
}
td > .bi-star,
td > .bi-star-fill {
    margin-left: 0.15rem;
    margin-right: 0.15rem;
}
#alerts {
    position: absolute;
    bottom: 1rem;
    right: 1rem;
    z-index: 100;
}

.client-name {
    display: flex;
    align-items: center;
    white-space: nowrap;
}
div.avatar {
    width: 2em;
    height: 2em;
    padding: .2em .6em;
    background-color: #25b661;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    color: white;
    margin-right: .25rem;
}
.hljs {
    border-radius: .5rem;
    font-size: .8em;
    overflow: auto;
    max-height: 150px;
}
